body {
  background: #090909;
  color: gold;
  font-family: sans;
}
img {
  width: 70%;
  border: 1px solid ivory;
  border-radius: 10%;
}
h1 {
  font-size: 100px;
  font-family: monospace;
  text-align: center;
  color: ivory;
  margin: 0;
  padding: 0;
}
i {
  justify-content: center;
  text-align: center;
  color: gold;
}
h2, h3 {
  font-family: monospace;
  color: ivory;
  margin: 0;
}
h4 {
  margin: 0;
  padding: 0;
}
input, button {
  background: ivory;
}
input:hover{
  background: gold;
}
button:hover {
  background: gold;
  cursor: pointer;
}
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.mainCage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.cage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 30%;
}

@media only screen and (max-width: 600px) {
  .mainCage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .cage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
}
